header {
  display: flex;
  background-color: black;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
}

nav {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
  font-size: 1.3rem;
}

a {
  color: white;
  font-family: Verdana;
}

h1 {
  color: white;
  font-size: 4.5rem;
  padding-top: 3rem;
  padding-left: 26rem;
  font-family:  Verdana;
  font-weight: bold;
}

h3 {
  color: white;
  padding: 3rem 17rem;
  font-size: 2.5rem;
  font-family:  Verdana;
  font-weight: bold;
}

h6 {
  color: white;
  font-size: 1.5rem;
  font-family: Verdana;
  padding-top: 1.5rem;
  padding-left: 26rem;
}

h2 {
  color: white;
  font-family: Verdana;
  font-size: 1.5rem;
}

h4 .web {

}

span a {
  color: black;
  font-family: Verdana;
}

.head {
  width: 80rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about {
  width: 80rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  top: 7rem;
  position: relative;
}

.category {
  font-weight: bold;
  font-family: Verdana;
  font-size: 1.3rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.web {
  font-family: Verdana;
  width: 100%;
  height: 15rem;
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.15rem;
}

.container span {
  padding-bottom: 0.4rem;
}

.contact-box {
  font-family: Verdana;
  width: 100%;
  height: 15rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

.bold {
  font-weight: bold;
}

.contact-box span {
  padding-bottom: 1rem;
}

#logo {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2rem;
  font-family: courier;
}

#about {
  background-image: url("../images/black.jpg");
  background-size: cover;
  height: 35rem;
  width: 100%;
}

#main {
  width: 80rem;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: space-between;
}

#projects,
#contact {
  width: 35rem;
  display: flex;
  flex-direction: column;
}

#projects-header,
#contact-header {
  width: 100%;
  background-image: url("../images/1.jpg");
  display: flex;
  padding-left: 2rem;
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

#web-project {
  display: flex;
  flex-direction: column;
  padding-left: 1.5rem;
}

#contact {

}
